<h1><% user %></h1>
<h2><% role %></h2>
<h2><% site %></h2>
<br />
<form action="/casb/upload" method="POST" enctype="multipart/form-data">
<input type="file" name="file">
<input type="hidden" name="csrf_token" value="<% csrf %>" >
<input type="submit" name="submit" value="Upload">
</form>
